<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@CatcallsofAmsterdam</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

    <!--mapbox API-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />

    <!--jQuery, bootstrap JS and bootstrap css in that order-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--fonts and icons-->
    <script src="https://kit.fontawesome.com/414664ddc9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
    
</head>
<body>

    <!--navbar: expand-sm is to make it exand from small size onwards?-->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="/"><i class="fas fa-bullhorn"></i> Catcalls of Amsterdam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!--everything inside this div is collapsed when small-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">/over ons</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/catcalls">/kaart<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">/join us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/moderatorlist">/moderator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/catcallsofams/" target="_blank"><i class="fab fa-instagram"></i> insta</a>
            </li>

            <% if(!currentUser){ %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  /moderator login </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item">
                    <form action="/login" method="post">
                        <div>
                            <input type="text" name="username" placeholder="gebruikersnaam">
                        </div>
                        <div>
                            <input type="password" placeholder="*******" name="password">
                        </div>
                        <div>
                            <button type="submit">Inloggen</button>
                        </div>
                    </form>
                  </a>
                </div>
              </li>
            <% } else {%>
            <li class="nav-item">
                <a class="nav-link" href="#">/pipeline</a>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  /ingelogd als <%=currentUser.username%> </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item">
                    <a href="/logout"><button class="btn">Uitloggen</button></a>
                  </a>
                </div>
              </li>
            <% } %>
          </ul>
        </div>
    </nav>

    <!--flash messages-->
          <!--just checking the existence of error is not enough, we should check if the error contains a string in order to want to display the alert box-->
    <div class="container mt-1" id="flashBox">
      <% if(error && error.length > 0){ %>
          <div class="alert alert-danger" role="alert">
              <%= error %>
          </div>
      <% } %>
      <% if(success && success.length > 0){ %>
          <div class="alert alert-success" role="alert">
              <%= success %>
          </div>
      <% } %>
    </div>