<%- include("partials/header") %>

<div class="container pagesOtherThanMap">
    <h2>Over Catcalls of Amsterdam</h2>
    <div class="container pt-4 pb-1">
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate in nulla at condimentum. Ut eu massa lacus. Cras dictum, sem a pulvinar sodales, mi sem dictum erat, a dictum erat risus a lectus. Phasellus rhoncus convallis leo, vel dapibus est volutpat eu. Maecenas et lorem turpis. Phasellus gravida lacus eget elit aliquet, eget fringilla dolor hendrerit.</h5>
    </div>
    <div class="pt-2">
        <h4>Street harassment: de cijfers</h4>
        <p>In faucibus sit amet est vitae scelerisque. Morbi efficitur, mi ac aliquam semper, velit velit scelerisque leo, ac rhoncus lacus augue in quam. Etiam commodo risus et lacus cursus sollicitudin. Fusce a suscipit tellus, a facilisis felis. Donec hendrerit accumsan neque in pretium. Aliquam nec viverra tortor. Morbi semper ultricies dictum. Maecenas maximus porttitor lectus, eu sagittis orci volutpat eget. Nunc suscipit tempor tellus, nec ultricies arcu malesuada ut. In et orci nisi. Donec a lacus risus. Phasellus varius justo id iaculis efficitur.</p>
        <p>Suspendisse et ullamcorper justo, eget commodo enim. Etiam vestibulum ligula id vestibulum varius. Nam efficitur, elit tincidunt tempus efficitur, leo enim fringilla erat, id fringilla augue magna sit amet leo. Fusce elementum velit magna, sed consectetur enim euismod consequat. Quisque ullamcorper nulla nec nibh malesuada maximus. Ut ornare, libero at volutpat lacinia, lorem ex sodales massa, ac gravida diam purus in neque. Donec elit dolor, condimentum ac felis id, suscipit eleifend lorem. Maecenas at tortor sollicitudin, consectetur elit ut, sodales massa. Nunc eu elit non ex varius blandit. Pellentesque posuere aliquet ante in tempus. Aliquam elementum massa nibh, interdum tempus nulla varius ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi vel tortor magna. Vivamus cursus, nunc a rutrum tristique, dui leo sodales elit, ac rhoncus dui urna eu ante. Donec maximus congue dignissim.</p>    
    </div>
    <div class="pt-2">
        <h4>Pers</h4>
        <p>Vestibulum porttitor ligula sit amet ex porta, bibendum semper lacus porta. Vestibulum id magna vitae mauris commodo euismod eget quis purus. Suspendisse egestas elementum metus, et scelerisque nibh consectetur vitae. Ut fringilla laoreet nunc vitae tincidunt. Donec sodales, nisi eget ultrices hendrerit, nunc tortor tincidunt quam, vel tristique nisi augue nec ligula. Quisque ullamcorper turpis vitae nisi ullamcorper, at pulvinar dolor tincidunt. Duis tellus magna, mollis a dui a, efficitur commodo ligula.</p>    
    </div>
    <div class="pt-2">
        <h4>Huisregels en privacy</h4>
        <p>Nulla at nisi mollis, iaculis libero eget, imperdiet ex. Nullam feugiat mauris erat. Mauris eu diam id velit porta iaculis eget sit amet erat. Suspendisse id ex sapien. Maecenas sodales nibh turpis, ut maximus nibh efficitur eu. Ut mollis justo ut egestas tincidunt. Nulla vestibulum dui dapibus velit mollis fringilla. Praesent diam nisl, ullamcorper eget lobortis eu, convallis eu tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed elementum porta egestas. Donec eleifend tellus eu neque lobortis porttitor. Ut vestibulum cursus malesuada. Maecenas eu sagittis ex.</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur laoreet, nunc sed dictum sollicitudin, neque nisi imperdiet risus, vitae porttitor augue ipsum in ante. Morbi non molestie mauris, ac laoreet enim. Etiam massa leo, pulvinar eu justo nec, scelerisque accumsan purus. Sed at tellus elit. Etiam eget tristique urna. Morbi sit amet neque ac augue porttitor tristique nec sagittis dui. In euismod venenatis metus cursus volutpat. Proin a consectetur tellus. Quisque vel consectetur mauris. Pellentesque hendrerit neque pharetra nunc efficitur, faucibus volutpat est rutrum. Suspendisse orci ipsum, venenatis maximus varius quis, consectetur eget diam. Aenean eu magna sed quam ornare aliquam.</p>    
    </div>
    <div class="pt-2 pb-3">
        <h4>FAQ</h4>
        <p><ul>
            <li>Nam lobortis felis ipsum, et egestas leo consectetur vel?</li>
            <li>Etiam accumsan dignissim erat, sed tincidunt arcu dignissim id?</li>
        </ul></p>
    </div>         
</div>

<div class="container mt-5 mb-3 d-flex justify-content-center">
    <a href="#"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
</div>

<%- include("partials/footer") %>