
<%- include("partials/header") %>

<div class='sidebar'>
    <div class='heading'>
        <a href="/new"><button type="button" class="btn btn-white"><i class="fas fa-plus-square"></i> Meld anoniem een nieuwe catcall</button></a>
    </div>
    <div id='listings' class='listings'>
    </div>
</div>

<div id='map' class='map'>Map</div>
<div id="map-overlay-button">
    <a href="/new"><i class="fas fa-plus-square fa-3x"></i></a>
</div>

<script>

</script>

<%- include("partials/map") %>
 
<%- include("partials/footer") %>




