<%- include("partials/header") %>

<!--still to add: which fields are required, flash-->

<div class="container pagesOtherThanMap">
    <h2>Upload catcall image</h2>
    <form name="addImage" action="/addimage/<%= catcall._id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
        <div class="form group  mt-4 mb-3">
            <input type="file" name="catcallImage" id="input-files" class="form-control-file border" aria-describedby="fileHelp" />
            <small id="fileHelp" class="form-text text-muted">Upload een kleine foto hier (max 2MB) in image/jpeg of image/png</small>
        </div>
        <button type="submit" class="btn btn-dark">Upload</button>
      </form>
</div>


<%- include("partials/footer") %>