<%- include("partials/header") %>



        <div class="form-group">
            <label for="file">Upload foto:</label>
            <input type="file" class="form-control" id="file" aria-describedby="fileHelp" name="avatar">
            <small id="fileHelp" class="form-text text-muted">Max 15MB per foto</small>
        </div>



        <%- include("partials/footer") %>