<%- include("partials/header") %>

<div class="container pagesOtherThanMap">
    <h2>Hello moderator, zie hier de lijst van nieuwe catcalls</h2>
    <div id="moderatorlist">

    </div>


</div>

<script>
    const moderatorlist = document.getElementById('moderatorlist');
    const notverifiedData = '<%- notverifiedData %>';
    const notverifiedCatcalls = JSON.parse(notverifiedData);
    console.log(notverifiedCatcalls);

    function makeModeratorlist(input){
        if(input.length > 0){
            input.forEach(catcall => {
                const catcallDiv = moderatorlist.appendChild(document.createElement('div'));
                catcallDiv.className = 'container mt-5 p-3 moderatorlistItem';
                const catcallDescription = catcallDiv.appendChild(document.createElement('h4'));
                catcallDescription.textContent = '"' + decodeURI(catcall.properties.description) + '"';

                const column = catcallDiv.appendChild(document.createElement('div'));
                column.className = 'col';
                const row = column.appendChild(document.createElement('div'));
                row.className = 'row float-right';
                row.textContent = catcall.properties.date;
                const extraline = column.appendChild(document.createElement('br'));

                if(catcall.properties.context){
                    const context = column.appendChild(document.createElement('p'));
                    context.textContent = "Context: " + decodeURI(catcall.properties.context);
                }

                const coordinates = column.appendChild(document.createElement('p'));
                coordinates.textContent = "Coördinaten: " + catcall.geometry.coordinates;

                const verifyButton = column.appendChild(document.createElement('form'));
                verifyButton.className = 'button-form';
                verifyButton.action = "/verify/" + catcall._id + "?_method=PATCH";
                verifyButton.method = "POST";
                verifyButton.innerHTML = '<input type="submit" class="btn btn-success moderatorButton" value="Voeg toe">'

                const editButton = column.appendChild(document.createElement('a'));
                editButton.className = "btn btn-warning moderatorButton";
                editButton.href = "/" + catcall._id + "/edit";
                editButton.textContent = 'Edit';

                const deleteButton = column.appendChild(document.createElement('form'));
                deleteButton.className = "button-form";
                deleteButton.action = "/" + catcall._id + "?_method=DELETE";
                deleteButton.method = "POST";
                deleteButton.innerHTML = '<input type="submit" class="btn btn btn-danger moderatorButton" value="Verwijder">'
            });
        }
    }

    makeModeratorlist(notverifiedCatcalls);


</script>

<%- include("partials/footer") %>





