<%- include("partials/header") %>

<!--still to add: which fields are required, captcha, flash-->

<div class="container pagesOtherThanMap mb-4">
    <h2>Meld een catcall</h2>
    <!-- removed this from form header: action="/" method="POST"-->
    <form name="addCatcall" id="form" onsubmit="return validateForm()">
        <div class="form-group mt-4">
            <!--input field for catcall, including regex to avoid using double quotes cause this will mess up the database + json flow-->
            <label for="catcall">Catcall quote*:</label>
            <input type="text" class="form-control" id="catcall" aria-describedby="catcallHelp" name="description" pattern="[^\x22]+" placeholder="Inhoud van de catcall" required>
            <small id="catcallHelp" class="form-text text-muted">Alleen de catcall quote; gebruik geen "aanhalingstekens" in de quote of het verhaal hieronder</small>
        </div>
        <div class="form-group">
            <label for="context">Jouw verhaal:</label>
            <textarea placeholder="Hier kan je iets kwijt over de context rondom de catcall" class="form-control" aria-describedby="contextHelp" name="context" id="context" rows="6"></textarea>
            <small id="contextHelp" class="form-text text-muted">Niet verplicht. Deel wat je wilt, maar zorg dat hier geen herkenbare/racistische/te persoonlijke kenmerken staan. Moderators kunnen dit veld van jouw inzending aanpassen als dit wel het geval is.</small>
        </div>
        <div class="form-group">
            <label for="datefield">Datum van catcall:</label>
            <input type="date" class="form-control" id="datefield" name="date" min="2016-01-01" max="2016-01-01">
        </div>
        <div class="form-group">
            <label for="mapResult">Locatie*:</label>
            <div class="container containerFormMap">
                <div id="inputMap"></div>
            </div>
            <small id="mapHelp" class="form-text text-muted">Klik op de kaart om coordinaten toe te voegen.</small>
            <input type="text" class="inputCoordinates form-control" id="long" name="long" value="" placeholder="long">
            <input type="text" class="inputCoordinates form-control" id="lat" name="lat" value="" aria-describedby="mapHelp" placeholder="lat">
        </div>
        <div class="form-group">
            <input type="checkbox" class="form-check-input ml-1" required id="check">
            <label class="form-check-label ml-4" for="check">Ik verklaar dat ik deze melding naar waarheid heb ingevuld in overeenstemming met de <a href="#"><u>huisregels</u></a>. Tevens ben ik mij bewust van de <a href=""><u>privacyverklaring</u></a>*.</label>
        </div>

        <div class="form-group">
            <div name="captcha" class="g-recaptcha" data-sitekey="6LdpsrsZAAAAAFhf5g-9hBG7FnWvX7vIbJ7pwTy5"></div>
        </div>


        <button type="submit" class="btn btn-dark">Verstuur</button>
      </form>
</div>

    <script>
        //change maximum date to the date of today
        let today = new Date();
        let dd = today.getDate();
        let mm = today.getMonth()+1; //January is 0!
        let yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd;
            } 
            if(mm<10){
                mm='0'+mm;
            } 
        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("datefield").setAttribute("max", today);

        //are we still using this?
        const flashBoxError = document.getElementById("flashBox").querySelector(".alert-danger");

        function validateForm() {
            //make sure there is a location pinned on the map
            const coordinateslong = document.forms["addCatcall"]["long"].value;
            if (coordinateslong == "") {
                alert("Pin de locatie op de kaart");;
                return false;
            }
        }

        //event listener for form submission so we can check CAPTCHA first
        document.getElementById('form').addEventListener('submit', submitForm);

        function submitForm(e){
            //prevent the actual submission from happening
            e.preventDefault();

            //get all the values so we can actually do the post request here
            const description = document.querySelector("#catcall").value;
            const context = document.querySelector("#context").value;
            const date = document.querySelector("#datefield").value;
            const long = String(document.querySelector("#long").value);
            const lat = String(document.querySelector("#lat").value);
            const captcha = document.querySelector("#g-recaptcha-response").value;
            
            //fetch and make the post request
            fetch("/report/", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-type': 'application/json'
                },
                body: JSON.stringify({
                    description: description,
                    context: context,
                    date: date,
                    long: long,
                    lat: lat,
                    captcha: captcha
                })
            })
            .then((res) => res.json())
            .then((data) => {
                if(data.msg){
                    alert(data.msg);
                }
                if(data.success){
                    //change to url when in production
                    window.location.href = "https://catcallsofamsterdam.herokuapp.com/catcalls";
                }
            });
        }

        mapboxgl.accessToken = 'pk.eyJ1IjoibGlzYW4ta3JhYWwiLCJhIjoiY2s1Mm9uaXN4MDBiczNubHM2ZXc3MWIwaSJ9.6zWdzChRs2uXgoUUWJZZPw';
        
        var map = new mapboxgl.Map({
            container: 'inputMap',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [4.908019, 52.366249],
            zoom: 12
        });
        map.addControl(new mapboxgl.NavigationControl());

        map.on("click", function(e){
            var mapLayer = map.getLayer('pinsLayer');

            if(typeof mapLayer !== 'undefined') {
                //there is a mapLayer called pinsLayer already so we remove it when it clicks a new one
                map.removeLayer('pinsLayer').removeSource('pins');
            }

            //and create coordinates of the click event itself
            const lngCatcall = e.lngLat.lng;
            const latCatcall = e.lngLat.lat;
            var geojson = {
                type: "FeatureCollection",
                features: [{
                    type:"Feature",
                    geometry: { type: "Point", coordinates: [ lngCatcall, latCatcall ]}
                }]
            };
            map.addSource("pins", {
                "type": "geojson",
                "data": geojson
            });
            map.addLayer({
                id: "pinsLayer",
                type: "circle",
                source: "pins", 
                paint: {
                    "circle-color": "red",
                    "circle-radius": 5 
                }
            });

            //dit kunnen we misschien wel verwijderen want is niet zo interessant?
            const mapLong = document.querySelector("#long");
            mapLong.setAttribute("value", lngCatcall);
            const mapLat = document.querySelector("#lat");
            mapLat.setAttribute("value", latCatcall);
        });



    </script>

<%- include("partials/footer") %>