<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@CatcallsofAmsterdam</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Input form</h1>
    <form name="addCatcall" action="/" onsubmit="return validateForm()" method="POST">
        <div>
            <!--input field for catcall, including regex to avoid using double quotes cause this will mess up the database + json flow-->
            <input type="text" id="catcall" name="description" pattern="[^\x22]+" placeholder="Catcall"> Chalk it down: <span id="result"></span>
            <p>Do not use these special characters: "</p>
        </div>
        <div>
            <input type="text" name="context" placeholder="Het verhaal">
        </div>
        <div>
            <input id="datefield" type="date" name="date" min="2016-01-01" max="2016-01-01">
        </div>
        <div>
            <input type="text" name="long" placeholder="long(4.7338)">
        </div>
        <div>
            <input type="text" name="lat" placeholder="lat(52.9363)">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>

    <script>
        //change maximum date to the date of today
        let today = new Date();
        let dd = today.getDate();
        let mm = today.getMonth()+1; //January is 0!
        let yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd;
            } 
            if(mm<10){
                mm='0'+mm;
            } 

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("datefield").setAttribute("max", today);

        catcall.oninput = function() {
            result.innerHTML = '"' + input.value + '"';
        };

        function validateForm() {

            //make sure someone adds a description and it does not include characters that we do not want
            const description = document.forms["addCatcall"]["description"].value;
            if (description == "") {
                alert("Vul de catcall in"); //deze later vervangen door een flash
                return false;
            }

            //make sure someone adds a date

            //make sure someone adds a coordinate
        }




    </script>

</body>
</html>